<section class="contenedor">
    <h1>Optimización de rutas con <span class="gugu-fleets">GuguFleets</span></h1>
    <div class="texto">
        <p>
            En <span class="gugu-fleets">GuguFleets</span>, nos comprometemos a brindarte soluciones integrales para optimizar tus rutas y mejorar la eficiencia de tu flota. 
            
            Nuestra plataforma utiliza algoritmos avanzados que consideran el tráfico en tiempo real, restricciones de peso, tamaño de vehículos y condiciones climáticas para garantizar que tus rutas sean óptimas y rentables.
            
            Desde la creación personalizada de rutas hasta el seguimiento en tiempo real del progreso de la entrega, nuestra plataforma te brinda un control total sobre tus operaciones logísticas. 
            
            Además, con herramientas de análisis avanzado, puedes obtener insights valiosos para mejorar continuamente tu estrategia de transporte y reducir costos operativos.
            
            Con <span class="gugu-fleets">GuguFleets</span>, puedes estar seguro de que tus rutas están optimizadas para maximizar la eficiencia y garantizar la satisfacción del cliente.</p>
    </div>
    <div class="img">
        <img src="../../../assets/pagina-inicio/tracking.png" alt="" width="500px" height="500px">
    </div>
</section>
